body{
    font-family: 'Arimo', sans-serif;
    background-color: white;
}

h1{
    text-align: center;
}

p{
    text-align:center;
    font-size: 18px;
}

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

.aNewGif{
    float:left;
    width: 220px;
    height: 375px;
}

img{
    float: none;
}

#rating{
    float: none;
    text-align: center;
}

button:hover{
    background-color: #037e7d;
    border-color: #eee;
}

button{
    border: 2px solid black;
    padding: 8px;
    margin: 5px;
    background-color: #189695;
    color: white;
    font-size: 16px;
    border-radius: 25px;
}

#submit:hover{
    background-color: darkgray;
}

#submit{
    background-color: #eee;
    border: 2px solid teal;
    font-size: 14px;
    border-radius: 5px;
}

#newActor{
    border: 2px solid #eee;
}

#theButtons{
    text-align: center;
}